controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute

qrcode_image:
    path: /qrcodes/{file_name}.png
    controller: App\Controller\ReservationController::serveImage
