 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css">
    
	<link rel="stylesheet" href="{{asset('assets/front-office/assets/css/login.css')}}">
</head>
<body>
    <div class="container">
        <div class="image-container"></div>
        <div class="form-container">
           
                <h1>Sign in</h1>
                <div class="social-container">
                    <a href="#" class="social"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#" class="social"><ion-icon name="logo-google"></ion-icon></a>
                    <a href="#" class="social"><ion-icon name="logo-linkedin"></ion-icon></a>
                </div>
                <span>or use your email for connection</span>


   <form action="{{ path('login') }}" method="post" novalidate>
    <div class="form-holder">
        <!-- Remove raw printing of the token and use a hidden field instead -->
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <!-- Username & Password fields -->
        <input type="email" name="email" placeholder="Email" >
        <input type="password" name="password" placeholder="Password" >
    </div>
     {% if error %}
        <p class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    <button class="submit-btn">Sign in</button>

   
</form>

<style>
    .alert {
        padding: 10px;
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }
</style>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
</body>
</html>
 